/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.full-height {
  height: calc(100vh - 56px);
}

.game-container {
  height: calc(100vh - 56px - 56px);

  @media (orientation: landscape) and (max-height: 767.98px) {
    height: calc(100vh - 56px) !important;
    margin-right: 56px;
  }
}

.fixed-ar {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    padding-top: calc(100% / var(--aspect-ratio, 1));
  }

  >* {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
