<nav class="navbar navbar-expand-md navbar-light bg-light px-2 fixed-top">
  <span class="navbar-brand">
    <i class="bi bi-dice-6"></i>
    {{pageTitle$ | async}}
  </span>

  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation" (click)="collapseMenu = !collapseMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngClass]="{'collapse': collapseMenu}" *ngIf="games$ | async as games">
    <ul class="navbar-nav ms-auto">
      <!-- Games link for small devices -->
      <li class="nav-item d-md-none">
        <a routerLink="/games" routerLinkActive="active" class="nav-link">
          <i class="bi bi-list me-1"></i>
          All Games
        </a>
        <a routerLink="/games" routerLinkActive="active" class="nav-link" *ngFor="let item of games">
          <i class="bi bi-dice-6 me-1"></i>
          {{item.name}}
        </a>
      </li>

      <!-- Games dropdown for large devices -->
      <li class="nav-item dropdown d-none d-md-inline-block" ngbDropdown>
        <span class="nav-link" role="button" ngbDropdownToggle>
          <i class="bi bi-list me-1"></i>
          All Games
        </span>
        <div ngbDropdownMenu>
          <a routerLink="/games" class="dropdown-item">
            All Games
          </a>
          <a [routerLink]="['/games', item.route]" class="dropdown-item" *ngFor="let item of games">
            {{item.name}}
          </a>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a routerLink="/privacy" routerLinkActive="active" class="nav-link">
          <i class="bi bi-shield me-1"></i>
          Privacy
        </a>
      </li> -->
    </ul>
  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
