<div class="game-container d-flex align-items-center justify-content-center" [ngClass]="{'is-active': enabled$ | async}">

  <div class="button-container reset-container m-2" appFixedAr="1">
    <div>
      <!-- Timer SVG -->
      <svg viewBox="-50 -50 100 100">
        <circle r="50"></circle>>
        <path [attr.d]="svgPath$ | async" [attr.fill]="svgColor$ | async"/>
        <circle r="30"></circle>>
      </svg>

      <button type="button" class="" (click)="onResetClick()">
        <span>&nbsp;</span>
        <i class="bi bi-arrow-clockwise"></i>
        <span class="remaining">{{remaining$ | async | number:'1.1-1'}}</span>
      </button>
    </div>
  </div>

  <div class="button-container pause-container m-2" appFixedAr="1">
    <div>
      <button type="button" class="" (click)="onPauseClick()">
        <i class="bi"></i>
      </button>
    </div>
  </div>

</div>

<app-game-footer [items]="footerItems" (itemClick)="onFooterItemClick($event)"></app-game-footer>
