.game-container {
  flex-direction: column;

  @media (orientation: landscape) {
    flex-direction: row;
  }

  .button-container {
    > * {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 5px solid var(--bs-gray);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: var(--bs-gray-100);
        font-size: xx-large;
      }
    }

    &.reset-container {
      width: 75vw;

      svg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;

        circle {
          fill: var(--bs-gray-100);
        }
      }

      button {
        background-color: transparent;
      }

      @media (orientation: landscape) {
        width: 75vh;
      }
    }

    &.pause-container {
      width: 25vw;

      @media (orientation: landscape) {
        width: 25vh;
      }

      button {
        background-color: #00ff00;
      }
    }
  }

  &.is-active {
    .pause-container {
      button {
        background-color: var(--bs-orange);
      }
    }
  }
}
