<div class="modal-header">
  <h4 class="modal-title">Rummikub settings</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <!-- Countdown -->
    <div class="form-group my-2">
      <label for="countdown">Countdown</label>
      <input type="number" class="form-control" id="countdown" formControlName="countdown" min="10" max="600" required
        placeholder="Countdown" aria-describedby="emailHelp">
      <small id="countdownHelp" class="form-text text-muted">The number of seconds allowed for a play.</small>
    </div>

    <!-- Speech toggle -->
    <div class="form-check form-switch my-2">
      <input type="checkbox" class="form-check-input" id="speech" formControlName="speech">
      <label class="form-check-label" for="speech">Enable voice time prompts</label>
    </div>

    <!-- Sarcasm slider -->
    <div class="form-group my-2">
      <label class="form-check-label" for="sarcasm">Sarcastic comments frequency ({{sarcasmLabel | async}})</label>
      <input type="range" class="form-range" id="sarcasm" formControlName="sarcasm" min="0" max="1" step=".1">
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.dismiss()">
    Cancel
  </button>
  <button type="button" class="btn btn-success" (click)="activeModal.close(value)" [disabled]="this.form.invalid">
    Save Settings
  </button>
</div>
